/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1.5rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1.5rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1.5rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 768px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1560px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1.5rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 767.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1559.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1560px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 1.6rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.form_control {
  margin: 0;
  width: 100%;
  outline: none;
  height: 40px;
  color: #B0BAC5;
  background: #fff;
  padding: 9px 15px;
  font-size: 1.4rem;
  line-height: 2rem;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #DFE6EE;
}
.form_control::-moz-placeholder {
  color: #B0BAC5;
  opacity: 1;
}
.form_control:-ms-input-placeholder {
  color: #B0BAC5;
}
.form_control::-webkit-input-placeholder {
  color: #B0BAC5;
}
.form_control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_control:focus, .form_control:active {
  outline: none;
  color: #6E6E6E;
  border-color: #0099FA;
}
.form_control:focus::-moz-placeholder, .form_control:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control:focus:-ms-input-placeholder, .form_control:active:-ms-input-placeholder {
  color: transparent;
}
.form_control:focus::-webkit-input-placeholder, .form_control:active::-webkit-input-placeholder {
  color: transparent;
}
.form_control.error {
  border-color: #E1464E;
}
.form_control_md {
  height: 48px;
  padding: 13px 15px;
  border-color: #7437BC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.error .form_control {
  border-color: #B80000;
}
.error .form_error {
  opacity: 1;
  visibility: visible;
}

.form_label {
  color: #373737;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 5px;
  display: inline-block;
}
.form_label sup {
  color: #E1464E;
}
.form_label_flex {
  color: #000;
}
@media (min-width: 768px) {
  .form_label_flex {
    height: 100%;
    text-align: right;
    padding-right: 20px;
    margin-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .form_label_flex span {
    margin: auto 0;
    display: inline-block;
  }
}

textarea.form_control {
  height: auto;
}

.form_image {
  width: 212px;
  height: 212px;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  padding-top: 50px;
  text-align: center;
  display: inline-block;
  border: 1px solid #DFE6EE;
}
.form_image input {
  display: none;
}
.form_image__text {
  display: block;
  color: #B9B9B9;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 15px;
}
.form_price {
  width: 140px;
  position: relative;
  padding-right: 45px;
}
.form_price__currency {
  top: 0;
  left: 100px;
  height: 40px;
  color: #7437BC;
  padding: 5px 0;
  font-size: 2.3rem;
  line-height: 3rem;
  position: absolute;
  display: inline-block;
  font-family: "McLaren", cursive;
}

.form_file {
  width: 100%;
  padding: 2px;
  background: #fff;
  overflow: hidden;
  border: 1px solid #DFE6EE;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.form_file__input {
  display: none;
}
.form_file__text {
  margin-right: 15px;
  color: #0099FA;
  display: block;
  max-width: 100%;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 7px 10px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.form_file .btn {
  width: 106px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.form_group {
  position: relative;
  margin-bottom: 20px;
}

.form_input {
  position: relative;
}

.form_error {
  left: 0;
  bottom: 100%;
  visibility: hidden;
  opacity: 0;
  font-weight: 700;
  position: absolute;
  color: #B80000;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

@media (min-width: 768px) {
  .form_inline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .form_inline__label {
    width: 290px;
    text-align: right;
    padding-right: 30px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .form_inline__input {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .form_inline .form_label {
    padding-top: 8px;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .form_inline__label {
    width: 300px;
  }
}

.form_checkbox {
  font-size: 0;
  line-height: 0;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
}
.form_checkbox input {
  display: none;
}
.form_checkbox span {
  font-size: 1.2rem;
  line-height: 2rem;
  position: relative;
  padding-left: 30px;
  display: inline-block;
}
.form_checkbox span:before {
  top: 1px;
  left: 1px;
  z-index: 5;
  content: "";
  width: 18px;
  height: 18px;
  background: #fff;
  position: absolute;
  display: inline-block;
  border: 1px solid #7437BC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.form_checkbox span:after {
  top: 5px;
  left: 5px;
  z-index: 10;
  content: "";
  width: 10px;
  height: 10px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: #7437BC;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.form_checkbox input:checked + span:after {
  opacity: 1;
  visibility: visible;
}

.btn {
  color: #fff;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 9px 15px;
  user-select: none;
  text-align: center;
  position: relative;
  background: #0099FA;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #0099FA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn:hover {
  color: #fff;
  background: #049EFF;
  border-color: #049EFF;
  text-decoration: none;
}
.btn:active {
  color: #fff;
  background: #008DE7;
  border-color: #008DE7;
}

.btn_border {
  color: #0099FA;
  background: #fff;
  padding: 9px 40px;
}
.btn_border:hover {
  color: #fff;
  background: #0099FA;
  border-color: #0099FA;
}
.btn_border:active {
  color: #fff;
  background: #008DE7;
  border-color: #008DE7;
}

.btn_sm {
  padding: 6px 15px;
  font-size: 1.2rem;
}

.btn_md {
  font-size: 1.8rem;
  padding: 15px 30px;
  text-transform: uppercase;
}

.btn_lg {
  font-size: 2rem;
  line-height: 3rem;
  padding: 15px 30px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .btn_lg {
    font-size: 2.4rem;
    padding: 22px 120px;
  }
}

.btn_round {
  color: #7437BC;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2rem;
  padding: 18px 40px;
  outline: none;
  cursor: pointer;
  user-select: none;
  text-align: center;
  position: relative;
  text-decoration: none;
  background: transparent;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  border: 1px solid #7437BC;
  -webkit-border-radius: 29px;
  -moz-border-radius: 29px;
  -ms-border-radius: 29px;
  border-radius: 29px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn_round:hover {
  color: #fff;
  text-decoration: none;
  background: -webkit-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
  background: -moz-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
  background: -o-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
  background: linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
}
.btn_round:focus, .btn_round.focus {
  outline: 0;
}
.btn_round_sm {
  padding: 14px 30px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
}
.btn_round_lg {
  font-weight: 700;
  border-width: 2px;
}
@media (min-width: 768px) {
  .btn_round {
    padding: 18px 50px;
  }
  .btn_round_sm {
    padding: 14px 40px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
  }
  .btn_round_md {
    padding: 26px 60px;
    -webkit-border-radius: 37px;
    -moz-border-radius: 37px;
    -ms-border-radius: 37px;
    border-radius: 37px;
  }
  .btn_round_lg {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .btn_round_md {
    padding: 26px 90px;
  }
}

.btn_buy {
  width: 160px;
  height: 58px;
}
.btn_buy i {
  top: 50%;
  left: 50%;
  width: 33px;
  height: 29px;
  margin: -15px 0 0 -16px;
  display: inline-block;
  position: absolute;
}
.btn_buy .ico-svg {
  fill: #7437BC;
}
.btn_buy:hover .ico-svg {
  fill: #fff;
}

.btn_bd {
  font-weight: 700;
}
@media (min-width: 768px) {
  .btn_bd {
    padding: 18px 60px;
  }
}

.btn_text {
  border: none;
  outline: none;
  color: #7437BC;
  padding: 8px 40px;
  min-width: 160px;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
}

.pagination {
  font-size: 0;
  line-height: 0;
  padding-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.pagination__prev, .pagination__next {
  display: none;
  width: 102px;
  height: 62px;
  position: relative;
  border: 1px solid #E1E8EF;
  -webkit-border-radius: 31px;
  -moz-border-radius: 31px;
  -ms-border-radius: 31px;
  border-radius: 31px;
}
.pagination__prev:hover, .pagination__next:hover {
  background-color: #F9F9F9;
}
.pagination__prev {
  background: url("../img/icon__angle_left.svg") 50% 50% no-repeat;
}
.pagination__next {
  background: url("../img/icon__angle_right.svg") 50% 50% no-repeat;
}
.pagination__page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.pagination__page a,
.pagination__page span {
  width: 40px;
  height: 30px;
  color: #000;
  margin: 0 5px 10px 5px;
  padding: 4px 5px;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #E1E8EF;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
}
.pagination__page a:hover {
  color: #fff;
  background: #0099FA;
  border-color: #0099FA;
}
@media (min-width: 768px) {
  .pagination {
    padding-top: 60px;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .pagination a,
.pagination span {
    width: 80px;
    height: 52px;
    margin: 0 8px;
    font-size: 2rem;
    line-height: 3rem;
    padding: 10px 10px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    border-radius: 26px;
  }
}
@media (min-width: 1200px) {
  .pagination {
    padding-top: 60px;
  }
}
@media (min-width: 1560px) {
  .pagination {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .pagination__prev, .pagination__next {
    display: inline-block;
  }
  .pagination a,
.pagination span {
    width: 102px;
    height: 62px;
    font-size: 2.4rem;
    line-height: 3rem;
    padding: 15px 10px;
    -webkit-border-radius: 31px;
    -moz-border-radius: 31px;
    -ms-border-radius: 31px;
    border-radius: 31px;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.color_purple {
  color: #7437BC !important;
}

@media (min-width: 768px) {
  .text_right_sm {
    text-align: right !important;
  }
}

.text_underline {
  text-decoration: underline !important;
}

.color_blue {
  color: #0099FA !important;
}

.mb_0 {
  margin-bottom: 0 !important;
}

.mb_15 {
  margin-bottom: 15px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.mb_40 {
  margin-bottom: 40px !important;
}

.mb_50 {
  margin-bottom: 50px !important;
}

.pt_20 {
  padding-top: 20px !important;
}

.pb_50 {
  padding-bottom: 50px !important;
}

.center_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Lato", Arial, sans-serif;
  background: #F8FAFF;
  font-size: 1.6rem;
  line-height: 1.25;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1560px) {
  .container {
    width: 1530px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.8rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Lato", Arial, sans-serif;
}
@media (min-width: 768px) {
  h1, .h1 {
    font-size: 4.8rem;
    margin-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 4.8rem;
    margin-bottom: 110px;
  }
}

h2, .h2 {
  font-size: 3rem;
  font-family: "Lato", Arial, sans-serif;
}

h3, .h3 {
  color: #2F2F2F;
  font-size: 2.2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Lato", Arial, sans-serif;
}
@media (min-width: 768px) {
  h3, .h3 {
    font-size: 2.4rem;
  }
}

h4, .h4 {
  color: #000;
  font-size: 1.8rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "Lato", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  font-family: "Lato", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  font-family: "Lato", Arial, sans-serif;
}

p {
  margin: 0 0 5px 0;
}

a {
  outline: none;
  color: #0099FA;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #000;
  text-decoration: none;
}

.header {
  z-index: 1050;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0px 13px 42px rgba(176, 186, 197, 0.3);
  box-shadow: 0px 13px 42px rgba(176, 186, 197, 0.3);
}
.header__logo {
  float: left;
  width: 160px;
  display: block;
  margin-top: 15px;
}
.header__cart {
  float: right;
  width: 48px;
  height: 48px;
  font-size: 0;
  line-height: 0;
  display: block;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: -webkit-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
  background: -moz-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
  background: -o-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
  background: -ms-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
  background: linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
}
.header__cart:before {
  left: 50%;
  width: 33px;
  height: 29px;
  content: "";
  bottom: 7px;
  margin-left: -14px;
  position: absolute;
  display: inline-block;
  background: url("../img/icon__cart.svg") 0 0 no-repeat;
}
.header__cart span {
  top: -8px;
  left: 50%;
  width: 20px;
  height: 14px;
  font-size: 11px;
  line-height: 11px;
  margin-left: -10px;
  position: absolute;
  text-align: center;
  background: #ffffff;
  padding-top: 1px;
  display: inline-block;
  border: 1px solid #395398;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.header__toggle {
  float: right;
  width: 48px;
  height: 48px;
  font-size: 0;
  line-height: 0;
  display: block;
  margin-left: 15px;
  padding: 16px 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: -webkit-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
  background: -moz-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
  background: -o-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
  background: -ms-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
  background: linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
}
.header__toggle span {
  width: 100%;
  height: 2px;
  background: #fff;
  position: relative;
  margin-bottom: 5px;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__toggle span:last-child {
  margin-bottom: 0;
}
.header__nav {
  left: 0;
  top: 88px;
  margin: 0;
  font-size: 0;
  line-height: 0;
  width: 100%;
  z-index: 1000;
  display: none;
  position: fixed;
  background: #fff;
  list-style: none;
  padding: 20px 0;
  overflow-y: auto;
  height: calc(100vh - 88px);
  -webkit-box-shadow: inset 0px 13px 42px rgba(176, 186, 197, 0.3);
  box-shadow: inset 0px 13px 42px rgba(176, 186, 197, 0.3);
}
.header__nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__nav > ul > li {
  position: relative;
}
.header__nav > ul > li > a {
  width: 100%;
  color: #8091A5;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
.header__nav > ul > li > a:hover {
  color: #7437BC;
}
.header__nav > ul > li .nav_dropdown {
  display: block;
}
.header__nav > ul > li .nav_dropdown > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__nav > ul > li .nav_dropdown > ul > li > a {
  width: 100%;
  color: #8091A5;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 15px 5px 35px;
}
.header.open_van .header__nav {
  display: block;
}
.header.open_van .header__toggle span {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header.open_van .header__toggle span:nth-child(1) {
  top: 7px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header.open_van .header__toggle span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header.open_van .header__toggle span:nth-child(3) {
  display: none;
}
@media (min-width: 768px) {
  .header__nav > ul {
    margin: 0 auto;
    width: 750px;
  }
}
@media (min-width: 992px) {
  .header {
    padding: 25px 0;
  }
  .header__toggle {
    display: none;
  }
  .header__nav {
    padding: 0 20px 0 0;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    float: right;
    display: block;
    overflow: visible;
    position: relative;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .header__nav > ul {
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav > ul > li {
    margin: 0 8px;
  }
  .header__nav > ul > li > a {
    padding: 13px 40px;
    text-align: center;
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
  }
  .header__nav > ul > li > a:hover {
    color: #fff;
    border-color: #7437BC;
    background: -webkit-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
    background: -moz-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
    background: -o-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
    background: linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
  }
  .header__nav > ul > li:last-child > a {
    width: 190px;
    color: #7437BC;
    border-color: #7437BC;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .header__nav > ul > li:last-child > a:hover {
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .header__nav > ul > li .nav_dropdown {
    left: 0;
    top: 100%;
    width: 100%;
    background: #fff;
    padding-top: 20px;
    position: absolute;
  }
  .header__nav > ul > li .nav_dropdown:before {
    top: 9px;
    left: 50%;
    content: "";
    width: 34px;
    height: 12px;
    margin-left: -17px;
    position: absolute;
    display: inline-block;
    background: url("../img/icon__nav_arrow.png") 0 0 no-repeat;
  }
  .header__nav > ul > li .nav_dropdown > ul {
    padding: 5px 0;
    border: 1px solid #623FB1;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
  }
  .header__nav > ul > li .nav_dropdown > ul > li > a {
    color: #7437BC;
    padding: 5px 15px;
    text-align: center;
  }
  .header__nav > ul > li .nav_dropdown > ul > li > a:hover {
    color: #333333;
  }
}
@media (min-width: 1200px) {
  .header {
    height: 193px;
    padding-top: 26px;
    background: url("../img/header__bg.svg") 50% 0 repeat-x;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .header__logo {
    width: 248px;
    margin-top: 5px;
  }
  .header__nav > ul > li:last-child > a {
    width: 190px;
  }
}
.footer {
  position: relative;
}
.footer:before, .footer:after {
  content: " ";
  display: table;
}
.footer:after {
  clear: both;
}
.footer__bottom {
  padding: 30px 0;
  background: -webkit-linear-gradient(0deg, #D499E8 -26.51%, #87A5EE 102.19%);
  background: -moz-linear-gradient(0deg, #D499E8 -26.51%, #87A5EE 102.19%);
  background: -o-linear-gradient(0deg, #D499E8 -26.51%, #87A5EE 102.19%);
  background: -ms-linear-gradient(0deg, #D499E8 -26.51%, #87A5EE 102.19%);
  background: linear-gradient(0deg, #D499E8 -26.51%, #87A5EE 102.19%);
}
.footer__image {
  display: none;
}
.footer__logo {
  width: 266px;
  display: block;
}
@media (min-width: 992px) {
  .footer__bottom {
    height: 282px;
    padding-top: 220px;
    background: url("../img/footer__bg.svg") 50% 0 no-repeat;
  }
}
@media (min-width: 1560px) {
  .footer__image {
    float: right;
    width: 1030px;
    display: block;
  }
  .footer__bottom {
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }
}
@media (min-width: 1900px) {
  .footer__bottom {
    background-size: cover;
  }
}

.row_wrap {
  margin: -15px;
}

.row_wrap_lr {
  margin: 0 -15px;
}

.heading {
  margin-bottom: 50px;
}
.heading a {
  text-decoration: none;
}
@media (min-width: 768px) {
  .heading {
    margin-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .heading {
    margin-bottom: 110px;
  }
}

.page {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.page_bg {
  background: #F8FAFF url("../img/bg.jpg") 50% 0 no-repeat;
}
@media (min-width: 1560px) {
  .page {
    background-position: 0 0;
  }
}

.main {
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.main__sidebar {
  min-height: 1px;
}
@media (min-width: 992px) {
  .main {
    padding-top: 70px;
    padding-bottom: 80px;
  }
  .main__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .main__sidebar {
    width: 260px;
    display: block;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .main__content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
@media (min-width: 1200px) {
  .main {
    padding-top: 35px;
    padding-bottom: 90px;
  }
}

.sidebar {
  padding-right: 30px;
}
.sidebar__heading {
  font-weight: 900;
  font-size: 3.6rem;
  line-height: 4rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.sidebar__title {
  color: #5A5A5A;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 3rem;
}
.sidebar__title span {
  text-decoration: underline;
}
.sidebar__block {
  margin-bottom: 20px;
}
.sidebar__block ul {
  padding: 0;
  margin: 0 -5px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.sidebar__block ul li {
  margin: 4px 5px;
}
.sidebar__block ul li a {
  padding: 5px;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #0099FA;
  text-decoration: none;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.sidebar__block ul li a:hover {
  color: #000;
  text-decoration: none;
  background: rgba(147, 210, 255, 0.3);
}
.sidebar__block ul li.active a {
  color: #000;
  background: rgba(147, 210, 255, 0.3);
}
@media (min-width: 992px) {
  .sidebar {
    text-align: right;
    padding-top: 80px;
  }
  .sidebar__heading {
    font-size: 4.8rem;
    line-height: 5.2rem;
    text-align: right;
  }
  .sidebar__title {
    text-align: right;
  }
  .sidebar__block {
    text-align: right;
  }
  .sidebar__block ul {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  .side_padding {
    padding-left: 260px;
  }
}

.search {
  padding: 35px 20px;
  background: -webkit-linear-gradien(262.28deg, #DBE3FB 3.45%, #F1D2F6 68.55%);
  background: -moz-linear-gradient(262.28deg, #DBE3FB 3.45%, #F1D2F6 68.55%);
  background: -o-linear-gradient(262.28deg, #DBE3FB 3.45%, #F1D2F6 68.55%);
  background: -ms-linear-gradient(262.28deg, #DBE3FB 3.45%, #F1D2F6 68.55%);
  background: linear-gradient(262.28deg, #DBE3FB 3.45%, #F1D2F6 68.55%);
}
.search__wrap {
  position: relative;
}
.search__input {
  margin: 0;
  width: 100%;
  outline: none;
  height: 40px;
  color: #B0BAC5;
  background: #fff;
  font-size: 1.4rem;
  line-height: 2rem;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #fff;
  padding: 9px 75px 9px 17px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.search__input::-moz-placeholder {
  color: #B0BAC5;
  opacity: 1;
}
.search__input:-ms-input-placeholder {
  color: #B0BAC5;
}
.search__input::-webkit-input-placeholder {
  color: #B0BAC5;
}
.search__input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.search__input:focus, .search__input:active {
  outline: none;
}
.search__input:focus::-moz-placeholder, .search__input:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.search__input:focus:-ms-input-placeholder, .search__input:active:-ms-input-placeholder {
  color: transparent;
}
.search__input:focus::-webkit-input-placeholder, .search__input:active::-webkit-input-placeholder {
  color: transparent;
}
.search__button {
  top: 1px;
  right: 1px;
  width: 70px;
  height: 38px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  background: #0099FA url("../img/icon__loop.svg") 50% 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.search__button:hover {
  color: #fff;
  background-color: #049EFF;
}
.search__button:active {
  background-color: #008DE7;
}
.search__button:focus, .search__button.focus {
  outline: 0;
}
@media (min-width: 768px) {
  .search {
    padding: 35px 30px;
  }
}
@media (min-width: 992px) {
  .search {
    padding: 35px 30px;
  }
}
@media (min-width: 1560px) {
  .search {
    padding: 35px 35px;
  }
}

.content {
  background: #fff;
  -webkit-box-shadow: 0px 0px 55px rgba(0, 59, 97, 0.05);
  box-shadow: 0px 0px 55px rgba(0, 59, 97, 0.05);
}
.content__wrap {
  padding: 30px 20px;
}
@media (min-width: 768px) {
  .content__wrap {
    padding: 45px 30px 50px 30px;
  }
}
@media (min-width: 1560px) {
  .content__wrap {
    padding: 45px 35px 50px 35px;
  }
}

.panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.panel__nav {
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.panel__nav a {
  width: 140px;
  color: #0099FA;
  font-weight: 900;
  background: #fff;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  padding: 15px 10px 10px 10px;
  border-bottom: 5px solid #fff;
}
.panel__nav a:hover {
  color: #0099FA;
  text-decoration: none;
}
.panel__nav a.active {
  color: #000;
  border-bottom-color: #0099FA;
}
.panel__settings {
  display: none;
}
@media (min-width: 768px) {
  .panel__nav a {
    width: 150px;
  }
  .panel__settings {
    font-size: 0;
    line-height: 0;
    padding-top: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .panel__filter {
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin-right: 22px;
  }
  .panel__filter a {
    color: #0099FA;
    display: inline-block;
    text-decoration: underline;
  }
  .panel__filter a:after {
    content: "|";
    padding: 0 3px;
    display: inline-block;
  }
  .panel__filter a:last-child:after {
    display: none;
  }
  .panel__filter a:hover {
    color: #0099FA;
    text-decoration: none;
  }
  .panel__filter a.active {
    color: #000;
    text-decoration: none;
  }
  .panel__filter a.active:hover {
    color: #000;
    text-decoration: none;
  }
  .panel__view {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
  .panel__view a {
    color: #0099FA;
    display: inline-block;
    text-decoration: underline;
  }
  .panel__view a:after {
    content: "|";
    padding: 0 3px;
    display: inline-block;
  }
  .panel__view a:last-child:after {
    display: none;
  }
  .panel__view a:hover {
    color: #0099FA;
    text-decoration: none;
  }
  .panel__view a.active {
    color: #000;
    text-decoration: none;
  }
  .panel__view a.active:hover {
    color: #000;
    text-decoration: none;
  }
}
.blue_box {
  padding: 20px;
  margin-bottom: 20px;
  background: rgba(67, 153, 255, 0.05);
}
@media (min-width: 768px) {
  .blue_box .form_inline__label {
    width: 270px;
  }
}
@media (min-width: 992px) {
  .blue_box .form_inline__label {
    width: 280px;
  }
}

.rose_box {
  padding: 20px;
  margin-bottom: 20px;
  background: rgba(255, 53, 211, 0.05);
}
@media (min-width: 768px) {
  .rose_box .form_inline__label {
    width: 270px;
  }
}
@media (min-width: 992px) {
  .rose_box .form_inline__label {
    width: 280px;
  }
}

.tags {
  margin: 0 -15px 20px -15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.tags a {
  color: #7437BC;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 11px 25px;
  background: #fff;
  margin: 0 15px 15px 15px;
  outline: none;
  cursor: pointer;
  user-select: none;
  text-align: center;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #7437BC;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  border-radius: 24px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.tags a:hover {
  color: #fff;
  text-decoration: none;
  background: -webkit-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
  background: -moz-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
  background: -o-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
  background: linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
}
.tags a:focus, .tags a.focus {
  outline: 0;
}
.tags a.active {
  color: #fff;
  background: -webkit-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
  background: -moz-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
  background: -o-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
  background: linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
}
@media (min-width: 768px) {
  .tags {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .tags {
    margin-top: -40px;
  }
}

.goods {
  color: #000;
  display: block;
  background: #FFFFFF;
  text-decoration: none;
  border: 1px solid #E8E8E8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.goods:hover {
  border-color: #0099FA;
}
.goods:hover .goods__view span {
  opacity: 1;
  visibility: visible;
}
.goods:hover .goods__view .ico-svg {
  stroke: #0099FA;
}
.goods__image {
  display: block;
  position: relative;
  border-bottom: 1px solid #E8E8E8;
}
.goods__city {
  left: 0;
  top: 11px;
  color: #fff;
  z-index: 10;
  background: #000;
  padding: 5px 15px;
  font-size: 1.2rem;
  line-height: 1.6rem;
  position: absolute;
  display: inline-block;
  text-transform: uppercase;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.goods__date {
  right: 0;
  bottom: 11px;
  color: #fff;
  z-index: 10;
  padding: 5px 15px;
  font-size: 1.2rem;
  line-height: 1.6rem;
  position: absolute;
  display: inline-block;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.goods__info {
  padding: 10px 15px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.goods__name {
  color: #0099FA;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 6px;
}
.goods__name a {
  color: #0099FA;
  text-decoration: none;
}
.goods__name a:hover {
  color: #000;
  text-decoration: none;
}
.goods__tags {
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-bottom: 5px;
}
.goods__tags a {
  color: #000;
  text-decoration: none;
}
.goods__tags a:hover {
  color: #0099FA;
}
.goods__text {
  color: #B0B0B0;
  max-height: 60px;
  overflow: hidden;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.goods__bottom {
  padding: 10px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.goods__price {
  font-size: 2.3rem;
  line-height: 2.3rem;
  color: #0099FA;
  font-family: "McLaren", cursive;
}
.goods__view {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2.2rem;
  padding-right: 18px;
  position: relative;
  color: #0099FA;
  text-decoration: none;
}
.goods__view i {
  top: 0;
  right: 0;
  width: 12px;
  height: 22px;
  position: absolute;
}
.goods__view span {
  opacity: 0;
  visibility: hidden;
}
.goods__view .ico-svg {
  stroke: #DEDEDE;
  fill: transparent;
}
.goods__view:hover {
  color: #0099FA;
}

.project {
  margin-bottom: 40px;
}
.project__image {
  margin-bottom: 30px;
  border: 1px solid #CBCBCB;
}
.project__info {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 3rem;
}
.project__info p {
  margin-bottom: 0;
}
.project__content {
  color: #767676;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 40px;
}
.project__bottom {
  color: #686868;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  padding-top: 40px;
}
.project__bottom p {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .project {
    margin-bottom: 60px;
  }
  .project__content {
    margin-bottom: 60px;
  }
}
@media (min-width: 992px) {
  .project {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .project__image {
    width: 400px;
    margin-bottom: 0;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .project__info {
    padding-left: 35px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .project__bottom {
    padding-top: 70px;
  }
}
@media (min-width: 1200px) {
  .project__image {
    width: 600px;
  }
  .project__info {
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 3.5rem;
  }
}
@media (min-width: 1560px) {
  .project__image {
    width: 806px;
  }
}

.doc {
  padding: 15px 15px;
  margin-bottom: 20px;
  background: rgba(67, 153, 255, 0.05);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.doc__image {
  width: 100%;
  padding: 20px 20px;
  background: #fff;
  text-align: center;
  margin-bottom: 20px;
}
.doc__icon {
  width: 94px;
  display: inline-block;
}
.doc__text {
  width: 100%;
  color: #767676;
  font-size: 1.4rem;
  line-height: 2.2rem;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 3px solid #fff;
}
.doc__text h3 {
  width: 100%;
  margin-bottom: 10px;
}
.doc__text ul {
  margin: 0;
  padding: 0;
  font-weight: 700;
  list-style: none;
}
.doc__text ul a {
  font-weight: 900;
}
.doc__text strong {
  color: #393838;
}
.doc__text_single {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.doc__subtitle {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 5px;
}
.doc__price {
  color: #7437BC;
  font-size: 3.2rem;
  line-height: 3.8rem;
  padding: 10px 0;
  position: relative;
}
.doc__price span {
  display: inline-block;
}
.doc__action {
  text-align: right;
  position: relative;
}
.doc__action_icon {
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  padding: 6px 5px 6px 7px;
  position: absolute;
  display: inline-block;
  border: 1px solid #E00700;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media (min-width: 992px) {
  .doc {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .doc__image {
    width: 170px;
    margin-bottom: 0;
    border-right: 3px solid #fff;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .doc__icon {
    margin: auto;
  }
  .doc__text {
    padding: 0 20px;
    margin-bottom: 0;
    border-bottom: none;
    border-right: 3px solid #fff;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .doc__text_single {
    padding-right: 0;
    border-right: none;
  }
  .doc__price {
    width: 130px;
    text-align: center;
    border-right: 3px solid #fff;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .doc__price span {
    margin: auto;
  }
  .doc__action {
    padding: 40px 5px 40px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .doc__action_wrap {
    margin: auto;
  }
  .doc__action_icon {
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    padding: 6px 5px 6px 7px;
    position: absolute;
    display: inline-block;
    border: 1px solid #E00700;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
}
.box__text {
  width: 100%;
  color: #767676;
  font-size: 1.4rem;
  line-height: 2.2rem;
}
.box__text h3 {
  width: 100%;
  margin-bottom: 10px;
}
.box__text ul {
  margin: 0;
  padding: 0;
  font-weight: 700;
  list-style: none;
}
.box__text ul a {
  font-weight: 900;
}
.box__text strong {
  color: #393838;
}

.step {
  padding: 0;
  margin: 0 0 20px 0;
  list-style: none;
}
.step li {
  color: #7437BC;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3rem;
}
.step li.active {
  color: #000;
}
@media (min-width: 768px) {
  .step {
    padding-right: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .step li {
    padding: 34px 5px 34px 50px;
    font-size: 1.6rem;
    white-space: nowrap;
    position: relative;
    border-top: 1px solid #7437BC;
    border-bottom: 1px solid #7437BC;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .step li:after, .step li:before {
    right: -42px;
    z-index: 10;
    width: 57px;
    height: 1px;
    content: "";
    position: absolute;
    background: #7437BC;
    display: inline-block;
  }
  .step li:after {
    top: 24px;
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  .step li:before {
    bottom: 24px;
    -webkit-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }
  .step li:nth-child(1) {
    padding-left: 20px;
    border-left: 1px solid #7437BC;
  }
  .step li:nth-child(3) {
    padding-right: 0;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .step li {
    width: 33.33%;
    padding-left: 70px;
  }
  .step li:nth-child(1) {
    padding-left: 40px;
  }
}
.cart {
  padding: 15px 15px;
  margin-bottom: 15px;
  background: rgba(67, 153, 255, 0.05);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.cart_row > h3 {
  padding-top: 20px;
}
.cart__image {
  width: 100%;
  padding: 20px 20px;
  background: #fff;
  text-align: center;
  margin-bottom: 20px;
}
.cart__image_item {
  width: 94px;
  display: inline-block;
}
.cart__content {
  width: 100%;
  color: #767676;
  font-size: 1.4rem;
  line-height: 2.2rem;
}
.cart__content h3 {
  width: 100%;
  margin-bottom: 10px;
}
.cart__content h3 a {
  color: #000;
  text-decoration: none;
}
.cart__content p {
  padding-bottom: 5px;
}
.cart__content strong {
  color: #393838;
}
.cart__date {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 10px;
}
.cart__action {
  width: 100%;
  padding-top: 20px;
  position: relative;
  border-top: 3px solid #fff;
}
.cart__price {
  width: 100%;
  color: #7437BC;
  font-size: 3.2rem;
  line-height: 3.6rem;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  border-top: 3px solid #fff;
}
.cart__price span {
  position: relative;
}
.cart__remove {
  top: 20px;
  right: 0;
  width: 36px;
  height: 36px;
  z-index: 10;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  border: 1px solid #E00700;
  background: url("../img/icon__trash.svg") 50% 50% no-repeat;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.cart_auth {
  margin: 30px 0;
  padding: 40px 20px;
  border: 1px solid #7437BC;
}
.cart_auth__login {
  padding-top: 60px;
  text-align: center;
}
.cart_auth__login_label {
  color: #000;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3rem;
  padding: 0 0 20px 0;
  text-transform: uppercase;
}
.cart__pay {
  padding-bottom: 20px;
}
.cart__pay_name {
  color: #000;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 3rem;
  padding: 10px 0;
}
.cart__pay_icon {
  width: 160px;
}
@media (min-width: 768px) {
  .cart__pay {
    padding: 10px 0 20px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .cart__pay_name {
    padding: 6px 0;
  }
  .cart_auth__login {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .cart_auth__login_label {
    width: 196px;
    text-align: right;
    padding: 22px 16px 22px 0;
  }
}
@media (min-width: 992px) {
  .cart {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .cart__image {
    width: 170px;
    margin-bottom: 0;
    margin-right: 20px;
    border-right: 3px solid #fff;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cart__image_item {
    margin: auto;
  }
  .cart__content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .cart__price {
    width: 160px;
    border-top: none;
    margin-left: 20px;
    padding: 40px 0 40px 0;
    border-left: 3px solid #fff;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cart__price span {
    margin: auto;
  }
  .cart__action {
    width: 240px;
    border-top: none;
    text-align: center;
    padding: 40px 0 40px 20px;
    border-left: 3px solid #fff;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cart__action_wrap {
    margin: auto 0;
  }
  .cart__remove {
    top: 0;
  }
  .cart__pay {
    padding: 0;
    margin: auto 0;
  }
  .cart_auth {
    padding: 50px 50px;
  }
  .cart_auth__login {
    padding-top: 98px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
  }
  .cart_auth__login_label {
    width: auto;
    text-align: right;
    padding: 22px 16px 22px 0;
  }
}
@media (min-width: 1200px) {
  .cart__pay_icon {
    width: 263px;
  }
  .cart__pay_name {
    padding: 21px 15px 21px 0;
  }
}
@media (min-width: 1560px) {
  .cart__action {
    width: 370px;
  }
}

.modal {
  padding: 0;
  width: 300px;
  position: relative;
  background: #fff;
  border: 3px solid #7437BC;
}
.modal:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.21;
  display: block;
  position: absolute;
  background: linear-gradient(12.22deg, #FEACFD 14.07%, #623FB1 76.4%, #444E9F 87.42%, #7437BC 87.42%, #5744AB 87.43%, #A227B6 87.43%, #395398 87.44%);
}
.modal__wrap {
  z-index: 10;
  position: relative;
  background: url("../img/modal__bg.svg") 50% 100% no-repeat;
}
.modal__top {
  padding: 20px 20px 40px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.modal__back {
  width: 21px;
  height: 36px;
  cursor: pointer;
  display: inline-block;
  background: url("../img/icon__back.svg") 0 0 no-repeat;
}
.modal__close {
  margin: 0;
  padding: 0;
  width: 36px;
  height: 36px;
  border: none;
  outline: none;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  display: inline-block;
  background: transparent url("../img/icon__close.svg") 50% 50% no-repeat;
}
.modal__heading {
  color: #000;
  padding: 0 20px;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
  margin-bottom: 20px;
}
.modal__heading_title {
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: 8px;
}
.modal__heading a {
  color: #7437BC;
  text-decoration: none;
}
.modal__heading a:hover {
  text-decoration: underline;
}
.modal__content {
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 0 20px 80px 20px;
}
.modal__content a {
  color: #7437BC;
  text-decoration: underline;
}
.modal__content a:hover {
  color: #7437BC;
  text-decoration: none;
}
.modal .fancybox-close-small {
  display: none !important;
}
.modal .btn_round {
  width: 100%;
}
.modal__content_text {
  color: #000;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  max-width: 540px;
  margin: 0 auto 30px auto;
}
.modal__subtitle {
  text-align: center;
}
.modal__lead {
  max-width: 360px;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.6rem;
  text-align: center;
  margin: 0 auto 60px auto;
}
@media (min-width: 768px) {
  .modal {
    width: 700px;
  }
  .modal__lead {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}
@media (min-width: 992px) {
  .modal {
    width: 780px;
  }
  .modal__top {
    padding-bottom: 70px;
  }
  .modal__content {
    padding: 0 60px 120px 60px;
  }
  .modal__lead {
    margin-bottom: 100px;
  }
}
@media (min-width: 1200px) {
  .modal__wrap {
    height: 640px;
  }
}
@media (min-width: 1560px) {
  .modal__content {
    padding: 0 60px 120px 60px;
  }
}

@media (min-width: 768px) {
  .form_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .form_row__label {
    width: 150px;
    min-height: 1px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .form_row__center {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

/*# sourceMappingURL=main.css.map */
