.modal {
	padding: 0;
	width: 300px;
	position: relative;
	background: #fff;
	border: 3px solid #7437BC;

	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		opacity: 0.21;
		display: block;
		position: absolute;
		background: linear-gradient(12.22deg, #FEACFD 14.07%, #623FB1 76.4%, #444E9F 87.42%, #7437BC 87.42%, #5744AB 87.43%, #A227B6 87.43%, #395398 87.44%);
	}

	&__wrap {
		z-index: 10;
		position: relative;
		background: url("../img/modal__bg.svg") 50% 100% no-repeat;
	}

	&__top {
		padding: 20px 20px 40px 20px;
		@include flexbox();
		@include justify-content(space-between);
	}

	&__back {
		width: 21px;
		height: 36px;
		cursor: pointer;
		display: inline-block;
		background: url("../img/icon__back.svg") 0 0 no-repeat;
	}

	&__close {
		margin: 0;
		padding: 0;
		width: 36px;
		height: 36px;
		border: none;
		outline: none;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		display: inline-block;
		background: transparent url("../img/icon__close.svg") 50% 50% no-repeat;
	}

	&__heading {
		color: #000;
		padding: 0 20px;
		font-weight: 700;
		font-size: 1.2rem;
		line-height: 2rem;
		text-align: center;
		margin-bottom: 20px;

		&_title {
			font-size: 2.4rem;
			line-height: 3rem;
			margin-bottom: 8px;
		}

		a {
			color: #7437BC;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__content {
		font-size: 1.2rem;
		line-height: 2rem;
		padding: 0 20px 80px 20px;

		a {
			color: #7437BC;
			text-decoration: underline;

			&:hover {
				color: #7437BC;
				text-decoration: none;
			}
		}
	}

	.fancybox-close-small {
		display: none !important;
	}

	.btn_round {
		width: 100%;
	}

	&__content {

		&_text {
			color: #000;
			font-weight: 700;
			font-size: 1.4rem;
			line-height: 2rem;
			text-align: center;
			max-width: 540px;
			margin: 0 auto 30px auto;
		}
	}

	&__subtitle {
		text-align: center;
	}

	&__lead {
		max-width: 360px;
		font-weight: 700;
		font-size: 2rem;
		line-height: 2.6rem;
		text-align: center;
		margin: 0 auto 60px auto;
	}

	@media (min-width: $screen-sm-min) {
		width: 700px;

		&__lead {
			font-size: 2.4rem;
			line-height: 3rem;
		}

	}

	@media (min-width: $screen-md-min) {
		width: 780px;

		&__top {
			padding-bottom: 70px;
		}

		&__content {
			padding: 0 60px 120px 60px;
		}

		&__lead {
			margin-bottom: 100px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__wrap {
			height: 640px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__content {
			padding: 0 60px 120px 60px;
		}
	}
}

.form_row {


	@media (min-width: $screen-sm-min) {
		@include flexbox();

		&__label {
			width: 150px;
			min-height: 1px;
			@include flex-shrink(0);
		}

		&__center {
			@include flex-grow(1);
		}
	}

	@media (min-width: $screen-md-min) {
	}
}