.goods {
	color: #000;
	display: block;
	background: #FFFFFF;
	text-decoration: none;
	border: 1px solid #E8E8E8;
	@include border-radius(4px);
	@include flexbox();
	@include flex-direction(column);

	&:hover {
		border-color: $color-blue;

		.goods__view {

			span {
				opacity: 1;
				visibility: visible;
			}

			.ico-svg {
				stroke: $color-blue;
			}
		}
	}

	&__image {
		display: block;
		position: relative;
		border-bottom: 1px solid #E8E8E8;
	}

	&__city {
		left: 0;
		top: 11px;
		color: #fff;
		z-index: 10;
		background: #000;
		padding: 5px 15px;
		font-size: 1.2rem;
		line-height: 1.6rem;
		position: absolute;
		display: inline-block;
		text-transform: uppercase;
		@include border-radius(0 4px 4px 0);
	}

	&__date {
		right: 0;
		bottom: 11px;
		color: #fff;
		z-index: 10;
		padding: 5px 15px;
		font-size: 1.2rem;
		line-height: 1.6rem;
		position: absolute;
		display: inline-block;
		background: rgba(0,0,0,0.7);
		@include border-radius(4px 0 0 4px);
	}

	&__info {
		padding: 10px 15px;
		@include flex-grow(1);
	}

	&__name {
		color: $color-blue;
		font-weight: 900;
		font-size: 1.8rem;
		line-height: 2.2rem;
		margin-bottom: 6px;

		a {
			color: $color-blue;
			text-decoration: none;

			&:hover {
				color: $color-base;
				text-decoration: none;
			}
		}
	}

	&__tags {
		font-size: 1.4rem;
		line-height: 2.4rem;
		margin-bottom: 5px;

		a {
			color: $color-base;
			text-decoration: none;

			&:hover {
				color: $color-blue;
			}
		}
	}

	&__text {
		color: #B0B0B0;
		max-height: 60px;
		overflow: hidden;
		font-size: 1.2rem;
		line-height: 1.5rem;
	}

	&__bottom {
		padding: 10px 15px;
		@include flexbox();
		@include justify-content(space-between);
	}

	&__price {
		font-size: 2.3rem;
		line-height: 2.3rem;
		color: $color-blue;
		font-family: $font-family-second;
	}

	&__view {
		font-weight: 700;
		font-size: 1.2rem;
		line-height: 2.2rem;
		padding-right: 18px;
		position: relative;
		color: $color-blue;
		text-decoration: none;

		i {
			top: 0;
			right: 0;
			width: 12px;
			height: 22px;
			position: absolute;
		}

		span {
			opacity: 0;
			visibility: hidden;
		}

		.ico-svg {
			stroke: #DEDEDE;
			fill: transparent;
		}

		&:hover {
			color: $color-blue;
		}
	}
}

.project {
	margin-bottom: 40px;

	&__image {
		margin-bottom: 30px;
		border: 1px solid #CBCBCB;
	}

	&__info {
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 3rem;

		p {
			margin-bottom: 0;
		}
	}

	&__content {
		color: #767676;
		font-size: 1.6rem;
		line-height: 2rem;
		margin-bottom: 40px;
	}


	&__bottom {
		color: #686868;
		font-size: 1.4rem;
		line-height: 2rem;
		text-align: center;
		padding-top: 40px;

		p {
			margin-bottom: 10px;
		}
	}

	@media (min-width: $screen-sm-min) {
		margin-bottom: 60px;

		&__image {

		}

		&__info {

		}

		&__content {
			margin-bottom: 60px;
		}
	}

	@media (min-width: $screen-md-min) {
		@include flexbox();


		&__image {
			width: 400px;
			margin-bottom: 0;
			@include flex-shrink(0);
		}

		&__info {
			padding-left: 35px;
			@include flex-grow(1);
		}

		&__bottom {
			padding-top: 70px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__image {
			width: 600px;
		}

		&__info {
			font-weight: 900;
			font-size: 1.8rem;
			line-height: 3.5rem;

		}
	}

	@media (min-width: $screen-xl-min) {

		&__image {
			width: 806px;
		}
	}
}

.doc {
	padding: 15px 15px;
	margin-bottom: 20px;
	background: rgba(67,153,255,0.05);
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(space-between);

	&__image {
		width: 100%;
		padding: 20px 20px;
		background: #fff;
		text-align: center;
		margin-bottom: 20px;
	}

	&__icon {
		width: 94px;
		display: inline-block;
	}

	&__text {
		width: 100%;
		color: #767676;
		font-size: 1.4rem;
		line-height: 2.2rem;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 3px solid #fff;

		h3 {
			width: 100%;
			margin-bottom: 10px;
		}

		ul {
			margin: 0;
			padding: 0;
			font-weight: 700;
			list-style: none;

			a {
				font-weight: 900;
			}
		}

		strong {
			color: #393838;
		}

		&_single {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
	}

	&__subtitle {
		font-size: 1.4rem;
		line-height: 2rem;
		margin-bottom: 5px;
	}

	&__price {
		color: #7437BC;
		font-size: 3.2rem;
		line-height: 3.8rem;
		padding: 10px 0;
		position: relative;

		span {
			display: inline-block;
		}
	}

	&__action {
		text-align: right;
		position: relative;

		&_icon {
			top: 0;
			right: 0;
			width: 36px;
			height: 36px;
			padding: 6px 5px 6px 7px;
			position: absolute;
			display: inline-block;
			border: 1px solid #E00700;
			@include border-radius(50%);
		}
	}


	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {
		@include flex-wrap(nowrap);

		&__image {
			width: 170px;
			margin-bottom: 0;
			border-right: 3px solid #fff;
			@include flex-shrink(0);
			@include flexbox();
			@include flex-direction(column);
		}

		&__icon {
			margin: auto;
		}

		&__text {
			padding: 0 20px;
			margin-bottom: 0;
			border-bottom: none;
			border-right: 3px solid #fff;
			@include flex-grow(1);


			&_single {
				padding-right: 0;
				border-right: none;
			}
		}

		&__price {
			width: 130px;
			text-align: center;
			border-right: 3px solid #fff;
			@include flex-shrink(0);
			@include flexbox();
			@include flex-direction(column);

			span {
				margin: auto;
			}
		}

		&__action {
			padding: 40px 5px 40px 20px;
		//	@include flex-shrink(0);
			@include flexbox();
			@include flex-direction(column);

			&_wrap {
				margin: auto;
			}

			&_icon {
				top: 0;
				right: 0;
				width: 36px;
				height: 36px;
				padding: 6px 5px 6px 7px;
				position: absolute;
				display: inline-block;
				border: 1px solid #E00700;
				@include border-radius(50%);
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}
}

.box__text {
	width: 100%;
	color: #767676;
	font-size: 1.4rem;
	line-height: 2.2rem;

	h3 {
		width: 100%;
		margin-bottom: 10px;
	}

	ul {
		margin: 0;
		padding: 0;
		font-weight: 700;
		list-style: none;

		a {
			font-weight: 900;
		}
	}

	strong {
		color: #393838;
	}
}