.step {
	padding: 0;
	margin: 0 0 20px 0;
	list-style: none;

	li {
		color: #7437BC;
		font-size: 1.8rem;
		font-weight: 700;
		line-height: 3rem;

		&.active {
			color: #000;
		}
	}


	@media (min-width: $screen-sm-min) {
		padding-right: 25px;
		@include flexbox();

		li {
			padding: 34px 5px 34px 50px;
			font-size: 1.6rem;
			white-space: nowrap;
			position: relative;
			border-top: 1px solid #7437BC;
			border-bottom: 1px solid #7437BC;
			@include flex-grow(1);

			&:after,
			&:before {
				right: -42px;
				z-index: 10;
				width: 57px;
				height: 1px;
				content: '';
				position: absolute;
				background: #7437BC;
				display: inline-block;
			}

			&:after {
				top: 24px;
				@include rotate(60deg);
			}

			&:before {
				bottom: 24px;
				@include rotate(-60deg);
			}

			&:nth-child(1) {
				padding-left: 20px;
				border-left: 1px solid #7437BC;
			}

			&:nth-child(3) {
				padding-right: 0;
			}
		}

		@media (min-width: $screen-md-min) {

			li {
				width: 33.33%;
				padding-left: 70px;

				&:nth-child(1) {
					padding-left: 40px;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}
}

.cart {
	padding: 15px 15px;
	margin-bottom: 15px;
	background: rgba(67,153,255,0.05);
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(space-between);

	&_row {

		> h3 {
			padding-top: 20px;
		}
	}

	&__image {
		width: 100%;
		padding: 20px 20px;
		background: #fff;
		text-align: center;
		margin-bottom: 20px;

		&_item {
			width: 94px;
			display: inline-block;
		}
	}

	&__content {
		width: 100%;
		color: #767676;
		font-size: 1.4rem;
		line-height: 2.2rem;

		h3 {
			width: 100%;
			margin-bottom: 10px;

			a {
				color: #000;
				text-decoration: none;
			}
		}

		p {
			padding-bottom: 5px;
		}

		strong {
			color: #393838;
		}
	}

	&__date {
		font-size: 1.4rem;
		line-height: 2rem;
		margin-bottom: 10px;
	}

	&__action {
		width: 100%;
		padding-top: 20px;
		position: relative;
		border-top: 3px solid #fff;
	}

	&__price {
		width: 100%;
		color: #7437BC;
		font-size: 3.2rem;
		line-height: 3.6rem;
		padding-top: 20px;
		padding-bottom: 20px;
		position: relative;
		border-top: 3px solid #fff;

		span {
			position: relative;
		}
	}

	&__remove {
		top: 20px;
		right: 0;
		width: 36px;
		height: 36px;
		z-index: 10;
		cursor: pointer;
		position: absolute;
		display: inline-block;
		border: 1px solid #E00700;
		background: url("../img/icon__trash.svg") 50% 50% no-repeat;
		@include border-radius(50%);
	}

	&_auth {
		margin: 30px 0;
		padding: 40px 20px;
		border: 1px solid #7437BC;

		&__login {
			padding-top: 60px;
			text-align: center;

			&_label {
				color: #000;
				font-weight: 700;
				font-size: 2.4rem;
				line-height: 3rem;
				padding: 0 0 20px 0;
				text-transform: uppercase;
			}

			&_button {

			}
		}
	}

	&__pay {
		padding-bottom: 20px;

		&_name {
			color: #000;
			font-weight: 900;
			font-size: 2.4rem;
			line-height: 3rem;
			padding: 10px 0;
		}

		&_icon {
			width: 160px;
		}
	}


	@media (min-width: $screen-sm-min) {

		&__pay {
			padding: 10px 0 20px 0;
			@include flexbox();
			@include justify-content(space-between);

			&_name {
				padding: 6px 0;
			}
		}


		&_auth {

			&__login {
				@include flexbox();

				&_label {
					width: 196px;
					text-align: right;
					padding: 22px 16px 22px 0;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		@include flex-wrap(nowrap);

		&__image {
			width: 170px;
			margin-bottom: 0;
			margin-right: 20px;
			border-right: 3px solid #fff;
			@include flex-shrink(0);
			@include flexbox();
			@include flex-direction(column);

			&_item {
				margin: auto;
			}
		}

		&__content {
			@include flex-grow(1);
		}

		&__price {
			width: 160px;
			border-top: none;
			margin-left: 20px;
			padding: 40px 0 40px 0;
			border-left: 3px solid #fff;
			@include flex-shrink(0);
			@include flexbox();
			@include flex-direction(column);

			span {
				margin: auto;
			}
		}

		&__action {
			width: 240px;
			border-top: none;
			text-align: center;
			padding: 40px 0 40px 20px;
			border-left: 3px solid #fff;
			@include flex-shrink(0);
			@include flexbox();
			@include flex-direction(column);

			&_wrap {
				margin: auto 0;
			}
		}

		&__remove {
			top: 0;
		}

		&__pay {
			padding: 0;
			margin: auto 0;
		}

		&_auth {
			padding: 50px 50px;

			&__login {
				padding-top: 98px;
				@include justify-content(flex-end);

				&_label {
					width: auto;
					text-align: right;
					padding: 22px 16px 22px 0;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {


		&__pay {

			&_icon {
				width: 263px;
			}

			&_name {
				padding: 21px 15px 21px 0;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__action {
			width: 370px;
		}
	}
}
