.header {
	z-index: 1050;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #fff;
	position: relative;
	@include box-shadow(0px 13px 42px rgba(176, 186, 197, 0.3));

	&__logo {
		float: left;
		width: 160px;
		display: block;
		margin-top: 15px;
	}

	&__cart {
		float: right;
		width: 48px;
		height: 48px;
		font-size: 0;
		line-height: 0;
		display: block;
		position: relative;
		@include transition(.3s);
		@include border-radius(50%);
		background: -webkit-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
		background: -moz-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
		background: -o-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
		background: -ms-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
		background: linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);

		&:before {
			left: 50%;
			width: 33px;
			height: 29px;
			content: '';
			bottom: 7px;
			margin-left: -14px;
			position: absolute;
			display: inline-block;
			background: url("../img/icon__cart.svg") 0 0 no-repeat;
		}

		span {
			top: -8px;
			left: 50%;
			width: 20px;
			height: 14px;
			font-size: 11px;
			line-height: 11px;
			margin-left: -10px;
			position: absolute;
			text-align: center;
			background: #ffffff;
			padding-top: 1px;
			display: inline-block;
			border: 1px solid #395398;
			@include border-radius(7px);
		}
	}

	&__toggle {
		float: right;
		width: 48px;
		height: 48px;
		font-size: 0;
		line-height: 0;
		display: block;
		margin-left: 15px;
		padding: 16px 12px;
		@include border-radius(50%);
		background: -webkit-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
		background: -moz-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
		background: -o-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
		background: -ms-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
		background: linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);

		span {
			width: 100%;
			height: 2px;
			background: #fff;
			position: relative;
			margin-bottom: 5px;
			display: inline-block;
			@include transition(.3s);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__nav {
		left: 0;
		top: 88px;
		margin: 0;
		font-size: 0;
		line-height: 0;
		width: 100%;
		z-index: 1000;
		display: none;
		position: fixed;
		background: #fff;
		list-style: none;
		padding: 20px 0;
		overflow-y: auto;
		height: calc(100vh - 88px);
		@include box-shadow(inset 0px 13px 42px rgba(176, 186, 197, 0.3));

		> ul {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {
				position: relative;

				> a {
					width: 100%;
					color: #8091A5;
					font-weight: 700;
					font-size: 1.2rem;
					line-height: 2rem;
					padding: 10px 15px;
					display: inline-block;
					text-decoration: none;
					text-transform: uppercase;

					&:hover {
						color: #7437BC;
					}
				}

				.nav_dropdown {
					display: block;

					> ul {
						margin: 0;
						padding: 0;
						list-style: none;

						> li {

							> a {
								width: 100%;
								color: #8091A5;
								font-weight: 700;
								font-size: 1.2rem;
								line-height: 2rem;
								display: inline-block;
								text-decoration: none;
								text-transform: uppercase;
								padding: 5px 15px 5px 35px;
							}
						}
					}
				}
			}
		}
	}

	&.open_van {

		.header__nav {
			display: block;
		}

		.header__toggle {

			span {
				@include transition(.3s);

				&:nth-child(1) {
					top: 7px;
					@include rotate(45deg);
				}

				&:nth-child(2) {
					@include rotate(-45deg);
				}

				&:nth-child(3) {
					display: none;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__nav {

			> ul {
				margin: 0 auto;
				width: $container-sm;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding: 25px 0;

		&__toggle {
			display: none;
		}

		&__nav {
			padding: 0 20px 0 0;
			top: auto;
			left: auto;
			width: auto;
			height: auto;
			float: right;
			display: block;
			overflow: visible;
			position: relative;
			background: transparent;
			@include box-shadow(none);

			> ul {
				width: auto;
				@include flexbox();

				> li {
					margin: 0 8px;

					> a {
						padding: 13px 40px;
						text-align: center;
						border: 1px solid transparent;
						@include border-radius(4px);

						&:hover {
							color: #fff;
							border-color: #7437BC;
							background: -webkit-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
							background: -moz-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
							background: -o-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
							background: linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
						}
					}

					&:last-child {

						> a {
							width: 190px;
							color: #7437BC;
							border-color: #7437BC;
							text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

							&:hover {
								color: #fff;
								text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
							}
						}
					}

					.nav_dropdown {
						left: 0;
						top: 100%;
						width: 100%;
						background: #fff;
						padding-top: 20px;
						position: absolute;

						&:before {
							top: 9px;
							left: 50%;
							content: '';
							width: 34px;
							height: 12px;
							margin-left: -17px;
							position: absolute;
							display: inline-block;
							background: url("../img/icon__nav_arrow.png") 0 0 no-repeat;
						}

						> ul {
							padding: 5px 0;
							border: 1px solid #623FB1;
							@include border-radius(6px);


							> li {

								> a {
									color: #7437BC;
									padding: 5px 15px;
									text-align: center;

									&:hover {
										color: #333333;
									}
								}
							}
						}
					}
				}
			}


			&_second {

			}
		}
	}


	@media (min-width: $screen-lg-min) {
		height: 193px;
		padding-top: 26px;
		background: url("../img/header__bg.svg") 50% 0 repeat-x;
		@include box-shadow(none);

		&__logo {
			width: 248px;
			margin-top: 5px;
		}


		&__nav {

			> ul {

				> li {

					> a {

					}

					&:last-child {

						> a {
							width: 190px;
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}