.row_wrap {
	margin: -15px;
}

.row_wrap_lr {
	margin: 0 -15px;
}

.heading {
	margin-bottom: 50px;


	a {
		text-decoration: none;
	}

	@media (min-width: $screen-sm-min) {
		margin-bottom: 70px;
	}

	@media (min-width: $screen-lg-min) {
		margin-bottom: 110px;
	}
}

.page {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	@include flexbox();
	@include flex-direction(column);

	&_bg {
		background: #F8FAFF url("../img/bg.jpg") 50% 0 no-repeat;
	}

	@media (min-width: $screen-xl-min) {
		background-position: 0 0;
	}
}

.main {
	padding-top: 50px;
	padding-bottom: 50px;
	@include flex-grow(1);

	&__row {

	}

	&__sidebar {
		min-height: 1px;
	}


	@media (min-width: $screen-md-min) {
		padding-top: 70px;
		padding-bottom: 80px;

		&__row {
			@include flexbox();
		}

		&__sidebar {
			width: 260px;
			display: block;
			@include flex-shrink(0);
		}

		&__content {
			@include flex-grow(1);
		}

	}

	@media (min-width: $screen-lg-min) {
		padding-top: 35px;
		padding-bottom: 90px;

	}
}

.sidebar {
	padding-right: 30px;

	&__heading {
		font-weight: 900;
		font-size: 3.6rem;
		line-height: 4rem;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	&__title {
		color: #5A5A5A;
		font-weight: 900;
		font-size: 2.4rem;
		line-height: 3rem;

		span {
			text-decoration: underline;
		}
	}

	&__block {
		margin-bottom: 20px;

		ul {
			padding: 0;
			margin: 0 -5px;
			list-style: none;
			@include flexbox();
			@include flex-wrap(wrap);

			li {
				margin: 4px 5px;

				a {
					padding: 5px;
					font-size: 1.8rem;
					line-height: 2rem;
					color: $color-blue;
					text-decoration: none;
					display: inline-block;
					@include border-radius(3px);

					&:hover {
						color: #000;
						text-decoration: none;
						background: rgba(147, 210, 255, 0.3);
					}
				}

				&.active {

					a {
						color: #000;
						background: rgba(147, 210, 255, 0.3);
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		text-align: right;
		padding-top: 80px;

		&__heading {
			font-size: 4.8rem;
			line-height: 5.2rem;
			text-align: right;
		}

		&__title {
			text-align: right;
		}

		&__block {
			text-align: right;

			ul {
				@include flex-direction(column);

				li {
				}
			}
		}
	}
}

.side_padding {

	@media (min-width: $screen-md-min) {
		padding-left: 260px;
	}
}

.search {
	padding: 35px 20px;
	background: -webkit-linear-gradien(262.28deg, #DBE3FB 3.45%, #F1D2F6 68.55%);
	background: -moz-linear-gradient(262.28deg, #DBE3FB 3.45%, #F1D2F6 68.55%);
	background: -o-linear-gradient(262.28deg, #DBE3FB 3.45%, #F1D2F6 68.55%);
	background: -ms-linear-gradient(262.28deg, #DBE3FB 3.45%, #F1D2F6 68.55%);
	background: linear-gradient(262.28deg, #DBE3FB 3.45%, #F1D2F6 68.55%);

	&__wrap {
		position: relative;
	}

	&__input {
		margin: 0;
		width: 100%;
		outline: none;
		height: 40px;
		color: #B0BAC5;
		background: #fff;
		font-size: 1.4rem;
		line-height: 2rem;
		display: inline-block;
		vertical-align: middle;
		border: 1px solid #fff;
		padding: 9px 75px 9px 17px;
		@include placeholder(#B0BAC5);
		@include border-radius(4px);

		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}

		&:focus,
		&:active {
			outline: none;
			@include placeholder(transparent);
		}
	}

	&__button {
		top: 1px;
		right: 1px;
		width: 70px;
		height: 38px;
		padding: 0;
		font-size: 0;
		line-height: 0;
		color: #fff;
		border: none;
		outline: none;
		cursor: pointer;
		user-select: none;
		text-align: center;
		white-space: nowrap;
		position: absolute;
		background: $color-blue url("../img/icon__loop.svg") 50% 50% no-repeat;
		display: inline-block;
		vertical-align: middle;

		@include border-radius(3px);
		@include transition(.2s);

		&:hover {
			color: #fff;
			background-color: #049EFF;
		}

		&:active {
			background-color: #008DE7;
		}

		&:focus,
		&.focus {
			outline: 0;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding: 35px 30px;
	}

	@media (min-width: $screen-md-min) {
		padding: 35px 30px;
	}

	@media (min-width: $screen-xl-min) {
		padding: 35px 35px;
	}

}

.content {
	background: #fff;
	@include box-shadow(0px 0px 55px rgba(0, 59, 97, 0.05));

	&__wrap {
		padding: 30px 20px;
	}

	@media (min-width: $screen-sm-min) {

		&__wrap {
			padding: 45px 30px 50px 30px;
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

		&__wrap {
			padding: 45px 35px 50px 35px;
		}
	}
}

.panel {
	@include flexbox();
	@include justify-content(space-between);

	&__nav {
		font-size: 0;
		line-height: 0;
		overflow: hidden;
		text-decoration: none;
		@include flexbox();
		@include border-radius(3px 3px 0 0);

		a {
			width: 140px;
			color: $color-blue;
			font-weight: 900;
			background: #fff;
			font-size: 1.4rem;
			line-height: 2rem;
			text-align: center;
			display: inline-block;
			text-decoration: none;
			padding: 15px 10px 10px 10px;
			border-bottom: 5px solid #fff;

			&:hover {
				color: $color-blue;
				text-decoration: none;
			}

			&.active {
				color: #000;
				border-bottom-color: $color-blue;
			}
		}
	}

	&__settings {
		display: none;
	}

	@media (min-width: $screen-sm-min) {

		&__nav {

			a {
				width: 150px;
			}
		}

		&__settings {
			font-size: 0;
			line-height: 0;
			padding-top: 25px;
			@include flexbox();
		}

		&__filter {
			font-size: 1.2rem;
			line-height: 2.2rem;
			margin-right: 22px;

			a {
				color: $color-blue;
				display: inline-block;
				text-decoration: underline;

				&:after {
					content: '|';
					padding: 0 3px;
					display: inline-block;

				}

				&:last-child {

					&:after {
						display: none;
					}
				}

				&:hover {
					color: $color-blue;
					text-decoration: none;
				}

				&.active {
					color: #000;
					text-decoration: none;

					&:hover {
						color: #000;
						text-decoration: none;
					}
				}
			}
		}

		&__view {
			font-size: 1.2rem;
			line-height: 2.2rem;

			a {
				color: $color-blue;
				display: inline-block;
				text-decoration: underline;

				&:after {
					content: '|';
					padding: 0 3px;
					display: inline-block;

				}

				&:last-child {

					&:after {
						display: none;
					}
				}

				&:hover {
					color: $color-blue;
					text-decoration: none;
				}

				&.active {
					color: #000;
					text-decoration: none;

					&:hover {
						color: #000;
						text-decoration: none;
					}
				}
			}
		}
	}


	@media (min-width: $screen-xl-min) {

	}
}

.blue_box {
	padding: 20px;
	margin-bottom: 20px;
	background: rgba(67,153,255,0.05);

	@media (min-width: $screen-sm-min) {

		.form_inline__label {
			width: 270px;
		}
	}


	@media (min-width: $screen-md-min) {

		.form_inline__label {
			width: 280px;
		}
	}

}

.rose_box {
	padding: 20px;
	margin-bottom: 20px;
	background: rgba(255, 53, 211, 0.05);

	@media (min-width: $screen-sm-min) {

		.form_inline__label {
			width: 270px;
		}
	}

	@media (min-width: $screen-md-min) {

		.form_inline__label {
			width: 280px;
		}
	}

}

.tags {
	margin: 0 -15px 20px -15px;
	@include flexbox();
	@include flex-wrap(wrap);

	a {
		color: #7437BC;
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 2rem;
		padding: 11px 25px;
		background: #fff;
		margin: 0 15px 15px 15px;
		outline: none;
		cursor: pointer;
		user-select: none;
		text-align: center;
		position: relative;
		white-space: nowrap;
		text-decoration: none;
		display: inline-block;
		vertical-align: middle;
		border: 1px solid #7437BC;
		@include border-radius(24px);
		@include transition(.2s);

		&:hover {
			color: #fff;
			text-decoration: none;
			background: -webkit-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
			background: -moz-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
			background: -o-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
			background: linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
		}

		&:active {

		}

		&:focus,
		&.focus {
			outline: 0;
		}

		&.active {
			color: #fff;
			background: -webkit-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
			background: -moz-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
			background: -o-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
			background: linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
		}
	}

	@media (min-width: $screen-sm-min) {
		margin-bottom: 30px;
	}

	@media (min-width: $screen-lg-min) {
		margin-top: -40px;
	}
}

.color_blue {

}


@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}