.footer {
	position: relative;
	@include clearfix();

	&__bottom {
		padding: 30px 0;
		background: -webkit-linear-gradient(0deg, #D499E8 -26.51%, #87A5EE 102.19%);
		background: -moz-linear-gradient(0deg, #D499E8 -26.51%, #87A5EE 102.19%);
		background: -o-linear-gradient(0deg, #D499E8 -26.51%, #87A5EE 102.19%);
		background: -ms-linear-gradient(0deg, #D499E8 -26.51%, #87A5EE 102.19%);
		background: linear-gradient(0deg, #D499E8 -26.51%, #87A5EE 102.19%);
	}

	&__image {
		display: none;
	}

	&__logo {
		width: 266px;
		display: block;
	}

	@media (min-width: $screen-md-min) {

		&__bottom {
			height: 282px;
			padding-top: 220px;
			background: url("../img/footer__bg.svg") 50% 0 no-repeat;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__image {
			float: right;
			width: 1030px;
			display: block;
		}

		&__bottom {
			left: 0;
			right: 0;
			bottom: 0;
			position: absolute;
		}
	}

	@media (min-width: 1900px) {

		&__bottom {
			background-size: cover;
		}
	}
}
