.img-fluid {
	height: auto;
	display: block;
	max-width: 100%;
}

.ico-svg {
	position: relative;
	display: inline-block;
	width: auto;
	height: 100%;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.hide {
	opacity: 0 !important;
	display: none !important;
	visibility: hidden !important;
}

// Alignment

.text-center    { text-align: center !important; }
.text-right     { text-align: right !important; }
.text-justify   { text-align: justify !important; }
.text-nowrap    { white-space: nowrap !important; }


// Transformation

.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

.color_purple {
	color: #7437BC !important;
}

.text_right_sm {

	@media (min-width: $screen-sm-min) {
		text-align: right !important;
	}
}


.text_underline {
	text-decoration: underline !important;
}


.color_blue {
	color: $color-blue !important;
}

.mb_0 {
	margin-bottom: 0 !important;
}

.mb_15 {
	margin-bottom: 15px !important;
}

.mb_30 {
	margin-bottom: 30px !important;
}

.mb_40 {
	margin-bottom: 40px !important;
}

.mb_50 {
	margin-bottom: 50px !important;
}

.pt_20 {
	padding-top: 20px !important;
}

.pb_50 {
	padding-bottom: 50px !important;
}

.center_box {
	@include flexbox();
	@include flex-direction(column);
}
