.btn {
	color: #fff;
	outline: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 2rem;
	padding: 9px 15px;
	user-select: none;
	text-align: center;
	position: relative;
	background: #0099FA;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #0099FA;
	@include border-radius(3px);
	@include transition(.2s);

	&:hover {
		color: #fff;
		background: #049EFF;
		border-color: #049EFF;
		text-decoration: none;
	}

	&:active {
		color: #fff;
		background: #008DE7;
		border-color: #008DE7;
	}
}

.btn_border {
	color: #0099FA;
	background: #fff;
	padding: 9px 40px;

	&:hover {
		color: #fff;
		background: #0099FA;
		border-color: #0099FA;
	}

	&:active {
		color: #fff;
		background: #008DE7;
		border-color: #008DE7;
	}
}

.btn_sm {
	padding: 6px 15px;
	font-size: 1.2rem;
}

.btn_md {
	font-size: 1.8rem;
	padding: 15px 30px;
	text-transform: uppercase;
}

.btn_lg {
	font-size: 2rem;
	line-height: 3rem;
	padding: 15px 30px;
	text-transform: uppercase;

	@media (min-width: $screen-sm-min) {
		font-size: 2.4rem;
		padding: 22px 120px;

	}
}

.btn_round {
	color: #7437BC;
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 2rem;
	padding: 18px 40px;

	outline: none;
	cursor: pointer;
	user-select: none;
	text-align: center;
	position: relative;
	text-decoration: none;
	background: transparent;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	border: 1px solid #7437BC;
	@include border-radius(29px);
	@include transition(.2s);

	&:hover {
		color: #fff;
		text-decoration: none;
		background: -webkit-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
		background: -moz-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
		background: -o-linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
		background: linear-gradient(14.77deg, #B620B4 14.07%, #A227B6 25.64%, #7437BC 46.98%, #623FB1 56.91%, #444E9F 76.4%, #395398 87.44%);
	}

	&:active {

	}

	&:focus,
	&.focus {
		outline: 0;
	}

	&_sm {
		padding: 14px 30px;
		@include border-radius(25px);
	}

	&_lg {
		font-weight: 700;
		border-width: 2px;
	}

	@media (min-width: $screen-sm-min) {
		padding: 18px 50px;

		&_sm {
			padding: 14px 40px;
			@include border-radius(25px);
		}

		&_md {
			padding: 26px 60px;
			@include border-radius(37px);
		}

		&_lg {
			font-size: 2rem;
		}
	}

	@media (min-width: $screen-lg-min) {

		&_md {
			padding: 26px 90px;
		}
	}
}

.btn_buy {
	width: 160px;
	height: 58px;

	i {
		top: 50%;
		left: 50%;
		width: 33px;
		height: 29px;
		margin: -15px 0 0 -16px;
		display: inline-block;
		position: absolute;
	}

	.ico-svg {
		fill: #7437BC;
	}

	&:hover {

		.ico-svg {
			fill: #fff;
		}
	}
}

.btn_bd {
	font-weight: 700;

	@media (min-width: $screen-sm-min) {
		padding: 18px 60px;
	}

}

.btn_text {
	border: none;
	outline: none;
	color: #7437BC;
	padding: 8px 40px;
	min-width: 160px;
	font-size: 1.6rem;
	line-height: 2rem;
	text-align: center;
	display: inline-block;
	background: transparent;
	text-transform: uppercase;
}