.form_control {
	margin: 0;
	width: 100%;
	outline: none;
	height: 40px;
	color: #B0BAC5;
	background: #fff;
	padding: 9px 15px;
	font-size: 1.4rem;
	line-height: 2rem;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #DFE6EE;
	@include placeholder(#B0BAC5);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus,
	&:active {
		outline: none;
		color: #6E6E6E;
		border-color: #0099FA;
		@include placeholder(transparent);
	}

	&.error {
		border-color: #E1464E;
	}

	&_md {
		height: 48px;
		padding: 13px 15px;
		border-color: #7437BC;
		@include border-radius(3px);
	}
}

.error {

	.form_control {
		border-color: #B80000;
	}

	.form_error {
		opacity: 1;
		visibility: visible;
	}
}

.form_label {
	color: #373737;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 2rem;
	margin-bottom: 5px;
	display: inline-block;

	sup {
		color: #E1464E;
	}

	&_flex {
		color: #000;
	}

	@media (min-width: $screen-sm-min) {

		&_flex {
			height: 100%;
			text-align: right;
			padding-right: 20px;
			margin-bottom: 0;
			@include flexbox();
			@include flex-direction(column);

			span {
				margin: auto 0;
				display: inline-block;
			}
		}
	}
}

textarea.form_control {
	height: auto;
}

.form_image {
	width: 212px;
	height: 212px;
	font-size: 0;
	line-height: 0;
	cursor: pointer;
	padding-top: 50px;
	text-align: center;
	display: inline-block;
	border: 1px solid #DFE6EE;

	input {
		display: none;
	}

	&__text {
		display: block;
		color: #B9B9B9;
		font-weight: 300;
		font-size: 1.3rem;
		line-height: 2rem;
		margin-bottom: 15px;
	}

	&__btn {

	}
}

.form_price {
	width: 140px;
	position: relative;
	padding-right: 45px;

	&__currency {
		top: 0;
		left: 100px;
		height: 40px;
		color: #7437BC;
		padding: 5px 0;
		font-size: 2.3rem;
		line-height: 3rem;
		position: absolute;
		display: inline-block;
		font-family: $font-family-second;
	}
}

.form_file {
	width: 100%;
	padding: 2px;
	background: #fff;
	overflow: hidden;
	border: 1px solid #DFE6EE;
	@include flexbox();

	&__input {
		display: none;
	}

	&__text {
		margin-right: 15px;
		color: $color-blue;
		display: block;
		max-width: 100%;
		font-size: 1.4rem;
		line-height: 2rem;
		padding: 7px 10px;
		overflow: hidden;
		white-space: nowrap;
		@include flex-grow(1);
	}

	.btn {
		width: 106px;
		@include flex-shrink(0);
	}
}

.form_group {
	position: relative;
	margin-bottom: 20px;
}

.form_input {
	position: relative;
}

.form_error {
	left: 0;
	bottom: 100%;
	visibility: hidden;
	opacity: 0;
	font-weight: 700;
	position: absolute;
	color: #B80000;
	font-size: 1.2rem;
	line-height: 1.8rem;
}

.form_inline {

	@media (min-width: $screen-sm-min) {
		@include flexbox();

		&__label {
			width: 290px;
			text-align: right;
			padding-right: 30px;
			@include flex-shrink(0);
		}

		&__input {
			@include flex-grow(1);
		}

		.form_label {
			padding-top: 8px;
			margin-bottom: 0;
		}
	}

	@media (min-width: $screen-md-min) {

		&__label {
			width: 300px;
		}
	}
}

.form_checkbox {
	font-size: 0;
	line-height: 0;
	font-weight: 700;
	cursor: pointer;
	display: inline-block;

	input {
		display: none;
	}

	span {
		font-size: 1.2rem;
		line-height: 2rem;
		position: relative;
		padding-left: 30px;
		display: inline-block;

		&:before {
			top: 1px;
			left: 1px;
			z-index: 5;
			content: '';
			width: 18px;
			height: 18px;
			background: #fff;
			position: absolute;
			display: inline-block;
			border: 1px solid #7437BC;
			@include border-radius(3px);
		}

		&:after {
			top: 5px;
			left: 5px;
			z-index: 10;
			content: '';
			width: 10px;
			height: 10px;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			background: #7437BC;
			display: inline-block;
			@include border-radius(3px);
		}
	}

	input:checked + span {

		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
}

