.pagination {
	font-size: 0;
	line-height: 0;
	padding-top: 40px;
	@include flexbox();
	@include justify-content(center);

	&__prev,
	&__next {
		display: none;
		width: 102px;
		height: 62px;
		position: relative;
		border: 1px solid #E1E8EF;
		@include border-radius(31px);

		&:hover {
			background-color: #F9F9F9;
		}
	}
	&__prev {
		background: url("../img/icon__angle_left.svg") 50% 50% no-repeat;
	}

	&__next {
		background: url("../img/icon__angle_right.svg") 50% 50% no-repeat;
	}

	&__page {
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(center);

		a,
		span {
			width: 40px;
			height: 30px;
			color: #000;
			margin: 0 5px 10px 5px;
			padding: 4px 5px;
			font-size: 1.4rem;
			line-height: 2rem;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			border: 1px solid #E1E8EF;
			@include border-radius(15px);
		}

		a {

			&:hover {
				color: #fff;
				background: $color-blue;
				border-color: $color-blue;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 60px;
		@include flex-wrap(nowrap);

		a,
		span {
			width: 80px;
			height: 52px;
			margin: 0 8px;
			font-size: 2rem;
			line-height: 3rem;
			padding: 10px 10px;
			@include border-radius(26px);
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 60px;

	}

	@media (min-width: $screen-xl-min) {
		@include justify-content(space-between);

		&__prev,
		&__next {
			display: inline-block;
		}

		a,
		span {
			width: 102px;
			height: 62px;
			font-size: 2.4rem;
			line-height: 3rem;
			padding: 15px 10px;
			@include border-radius(31px);
		}
	}
}